ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

li {
    float: left;
}

li a {
    display: block;
    border-radius: none;
    text-align: center;
    padding: 10px 20px;
    background-color: #000000;
}

li a:hover {
    color: #ff00ff;
    background-color: none;
    cursor: pointer;
}